# Posthog
VITE_PUBLIC_POSTHOG_KEY=
VITE_PUBLIC_POSTHOG_HOST=

VITE_POCKETBASE_URL=
DEV_ALLOWED_HOSTS=

# Crossword pause on focus lost feature
VITE_AUTO_PAUSE=true

# Required for daily importer bot
PB_SUPERUSER_EMAIL=
PB_SUPERUSER_PASSWORD=

# Required for import scripts
LOCAL_POCKETBASE_URL=
