@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes breathe {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.08;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expand {
  0%,
  100% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
}

#root:has(.connections) {
  margin-inline: 0;
}

:root {
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.connections {
  --card-bg: #efefe6;
  --card-bg-active: #5a594e;

  --card-text: #121212;
  --card-text-active: #f8f8f8;

  --expanded-width: 624px;
  --collapsed-width: 344px;
  --full-height: 460px;

  position: absolute;
  width: 100vw;
  height: max(100vh, var(--full-height));
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-content: center;

  .connections-container {
    max-width: var(--expanded-width);
    min-width: var(--collapsed-width);
  }

  .connections-card {
    width: 150px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
    background-color: var(--card-bg);
    border-radius: 6px;
    user-select: none;
    cursor: pointer;
    transition: 150ms linear;
    transition-property: background-color, color;
    container: connections-card;

    .card-label {
      color: var(--card-text);
      font-weight: 700;
      user-select: none;
      white-space: nowrap;
      line-height: 1;
    }

    &.selected {
      background-color: var(--card-bg-active);

      .card-label {
        color: var(--card-text-active);
      }
    }

    &.disabled {
      cursor: default;
    }

    &:active:not(.disabled) {
      transition-property: background-color, color, scale;
      scale: 0.9;
    }

    &.bounce {
      animation: bounce 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2 alternate both;
    }

    &.slide {
      animation: none;
      transition: 500ms transform var(--ease-in-out-quad);
    }
  }

  .bubble {
    width: 16px;
    height: 16px;
    background-color: var(--card-bg-active);
    border-radius: 16px;
    transition:
      scale,
      transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &.used {
      scale: 0;
    }
  }

  .action-btns {
    .rs-btn {
      border-radius: 9999px;
      height: 48px;
      padding-inline: 20px !important;
      padding-block: 15px !important;

      &[data-appearance="primary"] {
        border: 1px solid black;
      }
    }
  }

  .connections-category {
    height: 80px;
    min-width: var(--collapsed-width);
    width: var(--expanded-width);
    border-radius: 6px;
    animation: expand 500ms var(--ease-in-out-sine);

    .rs-text {
      animation: fade-in 500ms var(--ease-in-out-sine);
    }
  }

  .breathe {
    animation: breathe 1s alternate-reverse cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  }

  .shake {
    animation: shake 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  }
}

@media (max-width: 644px) {
  .connections {
    padding-inline: 10px;

    .connections-category p.rs-text {
      font-size: 18px;
    }
  }
}
