.index {
  .game-cards .rs-card {
    cursor: pointer;
    transition: transform 0.15s;
  }

  .rs-card-body,
  .rs-card-header {
    padding-block-start: 10px;
  }

  .game-cards .rs-card:hover {
    transform: translateY(-4px);
  }

  .title-container {
    margin-block-end: 15px;
  }

  .rs-card .rs-image {
    margin-block-start: var(--rs-card-padding);
  }

  .rs-card-group {
    max-width: 600px;
    margin-inline: auto;
  }

  .rs-card {
    text-align: center;
  }

  .account-buttons {
    width: fit-content !important;
  }

  .rs-center:has(.account-buttons) {
    margin-block-start: 10px;
  }

  a {
    color: unset !important;
  }

  .link-card-disabled {
    opacity: 70%;
    user-select: none;
    pointer-events: none;
  }

  .rs-card[data-direction="row"] {
    padding-block: 10px;
    height: 100%;
    text-align: left;

    .rs-image {
      margin-block: 0;
      margin-inline-start: 10px;
      width: 48px;
    }

    .rs-card-header,
    .rs-card-body {
      padding-inline-start: 10px;
      padding-block: 0;
    }

    .rs-stack:has(.rs-card-body) {
      flex-grow: 2;
      justify-content: center;
    }
  }
}

#root:has(.index) {
  width: 95vw;
}

@media (max-width: 680px) {
  .index {
    .game-cards {
      grid-template-columns: 1fr;

      .rs-card {
        width: min(290px, 90%);
        margin-inline: auto;
      }
    }
  }
}
